html {
  height: 100%;
}
body {
  padding: 0 !important;
  height: 100%;
}

#composer, .builder.edit, .main, .composition, #report-composition {
  min-height: 100%;
}

#composer-report-title{
  margin:0;
}

.card {
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  border: unset;
  border-radius: 2px;
  height: 100%;
}

.btn {
  border: none;
  border-radius: 2px;
  line-height: 36px;
  font-size:13px;
  padding: 0 10px;
  font-weight:600;
}

.btn:not(.notdvz){
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#sticky{
  text-align:center;
}

#sticky .btn {
  width: 100%;
  font-size: 0.75rem;
}

.nav-item>a {
  cursor: pointer;
}

.navbar-light .navbar-nav .active>.nav-link{
  color:#FFA80E;
font-weight: 700;
}

.container-fluid.page {
  display: none;
}

.active.container-fluid.page {
  display: block;
}

.reports-dataviz button.btn-delete {
  right: 0px;
  float: right;
}

h5>.badge {
  margin-left: 10px;
}

.modal[data-report-state="new"] .mreport-secondary-color-1-bg {
  display: inline-block;
}

.modal[data-report-state="edit"] .mreport-secondary-color-1-bg {
  display: none;
}

.modal[data-report-state="delete"] .mreport-secondary-color-1-bg {
  display: none;
}

.modal[data-report-state="new"] .mreport-secondary-color-2-bg {
  display: none;
}

.modal[data-report-state="delete"] .mreport-secondary-color-2-bg {
  display: none;
}

.modal[data-report-state="edit"] .mreport-secondary-color-2-bg {
  display: inline-block;
}

.modal[data-report-state="new"] .mreport-error-color-bg {
  display: none;
}
.modal[data-report-state="delete"] .mreport-error-color-bg {
  display: inline-block;
}

.modal[data-report-state="edit"] .mreport-error-color-bg {
  display: none;
}


.modal[data-dataviz-state="new"] .mreport-secondary-color-1-bg {
  display: inline-block;
}

.modal[data-dataviz-state="edit"] .mreport-secondary-color-1-bg {
  display: none;
}

.modal[data-dataviz-state="delete"] .mreport-secondary-color-1-bg {
  display: none;
}

.modal[data-dataviz-state="new"] .mreport-secondary-color-2-bg {
  display: none;
}

.modal[data-dataviz-state="delete"] .mreport-secondary-color-2-bg {
  display: none;
}

.modal[data-dataviz-state="edit"] .mreport-error-color-bg {
  display: inline-block;
}

.modal[data-dataviz-state="new"] .mreport-error-color-bg {
  display: none;
}

.modal[data-dataviz-state="delete"] .mreport-error-color-bg {
  display: inline-block;
}

.modal[data-dataviz-state="edit"] .mreport-error-color-bg {
  display: none;
}
.modal[data-report-state="add"] .mreport-secondary-color-1-bg{
  display: inline-block;
}
.container-fluid {
  padding: 15px;
  padding-right: 0;
  padding-left: 0;
}

.card-body {
  padding: 1rem;
  width: 100%;
}

.card-link{
  font-size:0.85rem;
}


.cards {
  /*padding-left: 5px;*/
  padding-bottom: 15px;
  padding-top: 15px;
  display:inline-block;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.sticky {
  z-index: 2;
  position: sticky;
  top: 56px;
  /*background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);*/
  padding: 15px 0;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color:rgba(233, 236, 239,0.7);
}

#stickyCatalogTri.sticky,
#stickyReportTri.sticky{
  top:122px;
}

#stickyCatalogTri
#stickyReportTri{
  display:none;
}

#cd-cart .sticky,
#version-list .sticky,
#report-select-options .sticky,
#advancedFilterCatalogOptions .sticky{
  top:30px;
  padding:15px;
  margin:0px;
  margin-top:-10px;
  background-color:rgba(233, 236, 239,0.9);
}

.sticky-sm {
  z-index: 2;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-right: 15px;
}

@media (max-width: 767px) {
  .sticky {
    top: 36px;
  }
}

.hidden {
  display: none;
}

#filterbutton button {
  margin-bottom: 0;
  background-color: white;
  font-weight:600;
}

/*
  Cart css
*/
#cd-cart.speed-in,
#version-list.speed-in,
#report-select-options.speed-in,
#advancedFilterCatalogOptions.speed-in{
  right: 0;
}

#cd-cart,
#version-list,
#report-select-options,
#advancedFilterCatalogOptions {
  right: -100%;
  background: #fff;
  transition: right .6s;
  position: fixed;
  top: 56px;
  height: 100%;
  width: 350px;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  z-index: 3;
  padding-bottom:56px;
}

@media only screen and (min-width: 1200px) {

  #cd-cart {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {

  #cd-cart {
    width: 350px;
  }
}

#version-list-content{
  overflow-y:auto;
  height:100%;
}

#cd-cart h2,
#version-list h2,
#report-select-options h2,
#advancedFilterCatalogOptions h2 {
  font-size: 14px;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1em 0;
}

@media only screen and (min-width: 1200px) {
  #cd-cart>* {
    padding: 0 2em;
  }
}

#cd-cart>* {
  padding: 0 1em;
}

#cd-cart .cd-cart-items,
#report-select-options .report-options-items {
  padding: 0;
}

#cd-cart .cd-cart-items h6.card-title,
#version-items h6.card-title,
#report-select-options .report-options-items h6.card-title{
  font-size:12px;
  padding:0;
  margin:0;
}

#version-items .versionList-item p{
  font-size:12px;
  font-weight:700;
}

.cd-cart-items .badge,
#catalog .badge.badge-secondary{
  display:none;
}

@media only screen and (min-width: 1200px) {
  #cd-cart>* {
    padding: 0 2em;
  }
}

#cd-cart>*{
  padding: 0 1em;
}

@media only screen and (min-width: 1200px) {
  #cd-cart .cd-cart-items li,
  #version-items li {
    padding: 1em 2em;
  }
}

/*
* Cart Items
*/
#cd-cart .cd-cart-items li,
#version-items li,
#report-select-options .report-options-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
  padding-right: 45px;
}

#cd-cart .cd-cart-items h5 {
  font-size: 1em;
}

@media only screen and (min-width: 1200px) {
  #cd-cart .cd-item-remove {
    right: 2em;
  }
}

/*
* Remove Icon
*/
#cd-cart .cd-item-remove,
#report-select-options .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url(../img/cd-remove-item.svg) no-repeat center center;
  transition: 0.3s;
}

.cd-item-remove:hover,
#report-select-options .cd-item-remove:hover {
  background-color: #7FC9D4 !important;
  transition: 0.3s !important;
}

.cd-img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/*
* Toggle off cart icon
*/
#togglePanier,
#closeVersions,
#toggle-report-select-option,
#toggleAdvancedFilter {
  position: sticky;
  z-index: 5;
  width: 32px;
  height: 35px;
  width: 100%;
  top: 0;
  right: 0;
  transition: .3s;
  display: inline-block;
  overflow: hidden;
  text-align:center;
  padding:4px 36px;
}

#togglePanier:hover,
#closeVersions:hover,
#toggle-report-select-option:hover,
#toggleAdvancedFilter:hover,
#returnToOptionsCatalog:hover {
  cursor: pointer;
  /* background-color: #FFA80E; */
  transition: 0.3s;
}

/*
* Toggle on cart icon
*/
.report-option{
  position: relative;
  right:0;
  transition: .4s;
}

.report-option{
  padding: 6px 12px 6px 12px;
}

.green{
  color: #FFF;
  padding: 6px 12px 6px 12px;
  /*border: 2px solid #006878;*/
  color: #999faf;
  /*display: inline-block;*/
  position: relative;
  transition: .4s;
}

.green .number,
.report-option .number {
  /* width:25px; */
  height:25px;
  position: absolute;
  border-radius: 50px;
  font-weight: 700;
  font-size: 15px;
  font-family: inherit;
  color: black;
  top: -10px;
  right: -10px;
  margin:0;
  border: 0px;
}

.green:hover {
  cursor: pointer;
  /*background: #006878 !important;*/
  color: #FFF !important;
  /*border: 2px solid #006878;*/
  transition: 0.4s;
}
#wizard-result{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.colorbtn{
  background-color: #FFF;
  border: solid 1px grey;
}
.available_colors div:not(.optional-piklor-parameters):not(.optional-parameter){
  border: solid 1px grey;
}
.available_colors div:not(.optional-piklor-parameters):not(.optional-parameter):hover,
.colorbtn:hover,
#addColor:hover{
  cursor: pointer;
  transform: scale(1.15);
  transition: 0.2s;
}
#addColor{
  transform:scale(1);
  margin-left: 5px;
  transition: 0.2s;
}
.available_colors div:not(.optional-piklor-parameters):not(.optional-parameter),
.colorbtn {
  width: 25px;
  display: inline-block;
  height: 25px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0.7;
  transition: 0.2s;
}
.tooltip_pointer{
  content: "";
  position: fixed;
  bottom: 80%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e9ecef transparent;
}
.available_colors{
  background-color: #e9ecef;
}
.text-color-picker div{
  width: 30px;
  display: inline-block;
  height: 30px;
  margin: 5px;
  border-radius: 100%;
  opacity: 0.7;
}
.text-color-picker{
  background-color: #e9ecef;
}
.text-color-picker div{
  border: solid 1px grey;
}
.text-color-picker div:hover{
  cursor: pointer;
  transform: scale(1.15);
  transition: 0.2s;
}
#yviz .btn {
  margin-top: 10px;
}
.duplicate{
  /* position: absolute;
  top:10px;
  right: 10px;
  background-color: white;
  transition: 0.2s; */
}
.duplicate i {
  transition: 0.2s;
}
.duplicate:hover{
  transition: 0.2s;
  cursor:pointer;
}
.duplicate:hover i{
  transition: 0.2s;
}
#report-modal-form .modal-body #report-form,
#report-modal-form2 .modal-body #report-form2{
  max-height:300px;
  overflow:auto;
}
#report-modal-form li.list-group-item span{
  display: inline-block;
  width: 80%;
}
#report-modal-form li.list-group-item button{
  display: inline-block;
  width: 20%;
}
#wizard-panel input:disabled{
  background-color: unset;
}

#modal-icon-picker {
  z-index: 10000;
}

/* flip the wizard result card / icon selector when back class */
.card-container.backcard.flip .card{
	-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
 -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
/* flip speed goes here */
.card.card-flip {
	 -webkit-transition: -webkit-transform .5s;
   -moz-transition: -moz-transform .5s;
     -o-transition: -o-transform .5s;
        transition: transform .5s;
-webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
     -o-backface-visibility: hidden;
        backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
  position: absolute;
  width: 100%;
}

#wizard-icons li .custom-icon {
  height: 50px;
  width: 15px;
}

.icon-picker-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding-left: 0;
  max-height: 300px;
  overflow-y: auto;
}

.icon-picker-list li {
  display: flex;
  flex: 0 0 10%;
  float: left;
  width: 20%;
  height: 50px;
}

.icon-picker-list li.custom-icon:hover {
  background-color: #dee2e6;
  cursor: pointer;
}

.page{
  padding-top:59px;
}

#catalog .badge{
  white-space: unset;
}

#catalog .badge,
.cd-cart-items .badge{
  margin: 0.3rem;
  padding:0.4rem 0.7rem;
  border-radius:1rem
}

#catalog .badge:first-child{
  margin-left:0;
}

#catalog .custom-control label{
  font-size:13px;
}

#reports .card-body{
  padding: 1rem 1rem 1rem 1rem;
}

#reports .card-text{
  font-size:14px;
}
.card-body a.duplicate{
  /* font-size:0.75rem;
  font-weight:700;
  line-height: 1rem;
  padding: 0.3rem 1rem; */
}

.card-body a.duplicate i{
  /* margin-right:0.3rem; */
}

.card-footer{
  padding:1rem;
}

.card-title{
  padding:0
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin-bottom:1rem;
}

.form-control{
  font-size:0.8rem;
}

.navbar{
  box-shadow: 0 0 0.3rem #aaa;
}

.navbar-brand{
  color:black;
}

.navbar-brand img{
  height:30px;
}

.custom-checkbox .custom-control-label::before{
  margin-top:-0.06rem!important;
}

/* #btn_save_report{
    position: fixed;
    z-index: 99;
    right: 10px;
} */

#home h1{
  text-align:center;
}

#home p{
  max-width:315px;
  font-size:15px;
  margin:0 auto;
  text-align:center;
  margin-top:30px;
  margin-bottom:0;
}

#home .buttons{
  text-align:center;
  max-width:50%;
  margin:30px auto;
}
#home .buttons .btn{
  margin:15px auto;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
width:100%;
}

#home .buttons .btn:hover{
  cursor:pointer;
}

#home .buttons a,
#home .buttons a .btn{
  color:white;
  text-decoration:none;
}

#home .images img{
  max-width: 100%;
}

.text-edit.btn{
  padding:5px;
  font-size:15px;
  line-height:normal;
  font-variant:all-small-caps;
  font-style:normal;
  margin-left:10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color:#006878!important;
  color:white!important;
}

.swal2-styled.swal2-confirm{
  background-color:#006878!important;
}

.swal2-styled.swal2-cancel{
  background-color:#9FB935!important;
}

.dataviz.list-group-item.handle{
  cursor:grab;
  height:100%;
}

.btn:hover,
.btn:focus{
  box-shadow: 0 0 5px #666;
color:inherit;
}

a:hover,
a:focus{
/* font-weight:600; */
text-decoration:underline!important;
}