.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top:155px;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 155px;
}

.sidenav-content{
  overflow-y:auto;
  height:100%;
}

.sidenav-content select{
  margin-top:0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  /*color: #818181;*/
  display: block;
}

.sidenav h6 {
    color: black;
    padding:0 10px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-top:90px;
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}


.grid-square {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: #fff;
    border: solid 1px rgb(0,0,0,0.2);
    padding: 10px;
    margin: 12px;
}

.builder .structure-bloc {
    position: relative;
}

.sidenav .list-group .list-group-item{
  padding: 0.5rem;
}


.builder.edit .composition {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-left: 0px;
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    word-wrap: break-word;
    width: 100%;
}

.builder.edit .composition .remove {
    /*background: #E91E63;*/
    font-size: 13px;
    padding: 6px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}

/*.builder .composition .row {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    position: relative;
    padding: 25px 14px 0;
}*/

/*.builder .column {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 24px;
    position: relative;
}*/

/*.builder.edit .column:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Column";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}*/

/*.builder.edit .composition .row:before {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Row";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    line-height: 2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}*/

.builder.edit .composition .remove {
    /*background: #E91E63;*/
    font-size: 13px;
    padding: 6px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
}

.builder .composition .drag, .builder .composition .remove {
    filter: alpha(opacity=40);
    opacity: 0.4;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.builder.edit .composition .structure-bloc .drag,
.builder.edit .composition .structure-element .drag {
    font-size: 13px;
    top: 5px;
    right: 80px;
    z-index: 10;
}


.builder .composition .drag, .builder .composition .remove {
    filter: alpha(opacity=40);
    opacity: 0.4;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.builder.edit .drag {
    /*background: #3095b4;
    color: white;
    position: absolute;
    right: 5px;*/
    cursor: grab;
    padding: 6px;
    font-size: 15px;
}

.sidenav #drag-tag{
  display:none;
}

#report-composition .drag{
    /*background: #3095b4;*/
    /*color: white;*/
    position: absolute;
}

#report-composition .drag #drag-tag{
  display:inline-block;
  margin-left:5px;
  margin-bottom:0;
}

#report-composition .dataviz-container .dataviz .drag{
  right:5px;
}

.builder.edit .list-group .structure-bloc:last-child .drag{
  top:13px;
}

.structure-element .drag{
    top: 5px;
    right: 5px ;
    transition: 0.2s;
}
.structure-element .drag:hover{
    transition: 0.2s;
    opacity: 1;
}
.structure-element .remove{
    right: 80px ;
    transition: 0.2s;
}
.structure-element .remove:hover{
    transition: 0.2s;
    opacity: 1;
}
.builder.edit .remove {
    cursor: pointer;
}
.structure-element .editable-text{
    font-size: 16px;
}

.builder .composition .structure-bloc:hover > .drag, .builder .composition .structure-bloc:hover > .configuration, .builder .composition .structure-bloc:hover > .remove, .builder .composition .box:hover .drag, .builder .composition .box:hover .configuration, .builder .composition .box:hover .remove {
    filter: alpha(opacity=100);
    opacity: 1;
}


.builder .sidenav .structure-html, .builder .sidenav .remove, .builder .sidenav .configuration, .builder .sidenav .boxes {
    display: none;
}

.builder .sidenav .sortable-drag .configuration, .builder .sidenav .sortable-drag .boxes {
    display: block;
}

.builder .sidenav .sortable-drag .structure-html {
    display: flex;
}


.builder .composition .structure-description {
    display: none;
}

#structure-models, #dataviz-items {
  padding: 10px;
  margin-bottom:1rem;
}

#structure-models .drag{
  background-color:white!important;
}

.dataviz-container li .drag.badge{
  display:none;
}

.composition {
    min-height: 250px;
}

span.structure-description {
    font-size: small;
}

.sidenav label {
    color: #fff;
}

.sidenav .form {
    padding: 10px;
}

.sidenav .tool button{
    display: none;
}

.dataviz.list-group-item span {
    font-size: small;
}

.structure-html code {
    display: none;
}

#report-composition {
    outline: 2px dashed;
    outline-color: grey;
    min-height:200px;
}

#report-composition:empty:after {
    content: "Séléctionner un rapport et un modèle. Puis déposer ici des blocs structrants et des dataviz.";
    text-align: center;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    color:#006878;
    font-size:20px;
    font-weight:700;
}

.composition .report-bloc .dataviz-container {
    /*border: #007bff;*/
    border: 1px solid #bbb;
    min-height: 200px;
    width: 100%;
}

/* .composition .report-bloc-title .dataviz-container {
    height: 135px
} */
.composition .bloc-content>.dataviz-container {
    min-height: 150px;
}

.bloc-content{
  margin:15px;
}

span.text-edit.badge.mreport-secondary-color-2-bg{
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
    font-family: "Segoe UI";
    letter-spacing: 0;
    text-transform: lowercase;

}

.composition li.dataviz.list-group-item span {
    padding-left: 10px;
}

.structure-element-description {
    font-size: smaller;
    padding-left: 10px;
}

.tool.configured::after {
    /*color: mediumvioletred;*/
    content: "  \0040";
}

.tool,.tool.configured {
    display: inline;
}

.report-bloc-title .tool .btn {
    cursor: auto;
}

#report-composition .btn{
padding:5px 10px;
}

#dataviz-items code.dataviz-definition {
    display: none;
}

.map-marker-circle-1 {
  /*background-color:#E91E63;*/
  border-radius: 18px;
  border: 4px solid #eaebf0;
  opacity: 0.50;
}

.map-marker-circle-2 {
  background-color:#eaebf0;
  border-radius: 18px;
  /*border: 4px solid #E91E63;*/
  opacity: 0.50;
}

#bootstrap_columns{
    /*width: 75%;*/
    display: inline-block;
}
.sortable-chosen span input{
    display: none !important;
}
.sortable-chosen span #nb_columns{
    display: inline !important;
}
.sortable-chosen .edit_columns,
.sortable-chosen .dividedcolumn{
    display: none;
}
.sortable-ghost .edit_columns,
.sortable-ghost .dividedcolumn{
    display: block;
}
.edit_columns{
    position: absolute;
    top: 10px;
    font-size: 15px;
    right: 10px;
    z-index: 5;
}
.divide_column{
  margin-right:5px;
}
.divide_column,
.empty_column,
.delete_column{
    cursor: pointer;
    font-size: 15px;
    filter: alpha(opacity=40);
    opacity: 0.4;
    transition: 0.2s;
}
#report-composition .dataviz-container{
    padding:35px;
}
#report-composition .customBaseColumn {
    padding: 0;
}
.dividedcolumn:hover .divide_column,
.dividedcolumn:hover .delete_column{
    filter: alpha(opacity=100);
    opacity: 1;
    transition: 0.2s;
}

.drag_column{
    position: unset !important;
}
.composition .row,
.composition .view{
    height: 100%;
    line-height:0.75rem;
}
.dataviz-container{
    display: flex;
    height: 100%;
}
.report-component{
    display: flex;
    align-items: center;
    justify-content: center;
}

#element-models{
    /* margin: 10px; */
}
#element-models .titleBloc {
  line-height:1.5rem;
}
#element-models .structure-element .editable-text{
  margin:0;
}
.full-width{
    width: 100%;
}
.color-selector-group{
    display: flex;
    margin-top: 10px;
}
.chosecolors{
    flex-direction: column;
}
.chosecolors .input-group-prepend,
.chosecolors .input-group-prepend span{
    flex-grow: 1;
}
#w_text_text,
#w_title,
#text-edit-value{
    min-height: 31px;
    height: 100% !important;
    font-size: 16px;
}
#w_desc{
    font-size: 16px;
    min-height: 16px;
}
.manualColorPicking{
    border: none;
    border-radius: 4px;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    width: 100%;

}
.manualColorPicking:focus{
    outline: none;
}
.notdvz{
    display: flex;
}
.notdvz i {
    display: flex;
    align-items: center;
}
#divide_form .form-group,
#divide_form small{
    margin-left: 15px;
    margin-right: 15px;
}
#divide_form .no-margin{
    margin-left: 0;
    margin-right: 0;
}
.report-chart-title{
    text-align: center;
}
.report-chart-summary{
    text-align: justify;
}
.report-figure-chiffre {
    padding-top: 40px !important;

}
.editable-text:before {
    color: #fff;
    margin: 10px;
    background: #000000;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}
.editable-text.titre-1:before {
    content: "I";
}
.editable-text.titre-2:before {
    content: "II";
}
.editable-text.titre-3:before {
    content: "III";
}
.editable-text.titre-4:before {
    content: "IV";
}
.editable-text.titre-1 {
    font-size: 40px;
    font-weight: 700;
}
.editable-text.titre-2 {
    font-size: 24px;
    font-weight: 600;
}
.editable-text.titre-3 {
    font-size: 20px;
    font-weight: 500;
}
.editable-text.titre-4 {
    font-size: 16px;
    font-weight: 400px;
}

.card.dataviz.used {
    /*background-color: #dae0e5;*/
}
.card.dataviz:not(.used) .card-footer {
    display: none;
}

.card.dataviz .card-footer span {
    margin-right: 3px;
}

span.designed-dataviz {
    /*right: 30px;*/
    /*position: absolute;*/
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 700;
    /*color: #218838;*/
    /*margin-top: -10px;*/
}

span.designed-dataviz:before {
    content: "\f200";
}

span.certified-dataviz {
    /* right: 70px; */
    /* position: absolute; */
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 700;
    margin-left:15px;
    /*color:#8cb871;*/
    /* margin-top: -10px; */
}

span.certified-dataviz:before {
    content: "\f559";
}

span.certified-dataviz.disabled,
span.designed-dataviz.disabled {
    display:none;
}

#dataviz-attributes.tab-content {
    border: solid;
    border-color: #fff #dee2e6 #dee2e6 #dee2e6;
    border-width: thin;
}

#report-composition .dataviz-container:empty:after {
    content: "Glisser-déposer une donnée ici";
    /*color: #818181;*/
    line-height:2rem;
}

#report-composition .report-bloc-title .dataviz-container {
    /*border: #007bff;*/
    border-style: ridge;
}

.custom-control-input:checked~.custom-control-label::before{
  background-color:#006878;
  border-color: #006878;
}

.sidenav a.composerVersions{
  font-size:12px;
  color:white;
}

.sidenav a.composerVersions:hover{
  cursor:pointer
}

#btn_save_report{
  margin-top:35px;
}

#ComposerOptionsSelectRow{
  /*box-shadow: 0 5px 10px rgb(0 0 0 / 20%);*/
  position: fixed;
  width:100%;
  z-index: 99;
  top:56px;
}

#ComposerOptionsSelectRow .form-group{
  margin-top: .5rem;
  margin-bottom: .75rem;
}

#ComposerOptionsSelectRow .form-group label{
  font-size:12px;
font-weight:700;
}

.report-bloc .dataviz-container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.bloc-sources {
    margin-top:10px;
    font-size: 12px;
}
