.report {
    opacity: 0;
}

.report-alert {
    display: none;
}

button.report-share {
    display: none;
}

button.report-share.btn.btn-outline-info {
    top: 0;
    position: absolute;
    float: right;
    left: 0;
    margin: 5px;
    z-index: 1000;
}
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #ffffff url('../img/loader.svg') no-repeat center center;
}

.wizard-indicateurs {
    border-right: 1px solid #e9ecef;
}

.wizard-code {
    margin-top: 20px;
    display: none;
}

.wizard {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 30px;
    z-index: 50;
}

.wizard2 {
    position: fixed;
    float: right;
    right: 87px;
    bottom: 30px;
    z-index: 50;
}

.map-marker-circle-1 {
    background-color: #E91E63;
    border-radius: 18px;
    border: 4px solid #eaebf0;
    opacity: 0.50;
}

.map-marker-circle-2 {
    background-color: #eaebf0;
    border-radius: 18px;
    border: 4px solid #E91E63;
    opacity: 0.50;
}
