.report {
    opacity: 0;
}

.report-alert {
    display: none;
}

.report-chart,
.report-figure {
    padding-top: 20px;
}

button.report-share {
    display: none;
}

button.report-share.btn.btn-outline-info {
    top: 0;
    position: absolute;
    float: right;
    left: 0;
    margin: 5px;
    z-index: 1000;
}
div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #ffffff url('../img/loader.svg') no-repeat center center;
}

.wizard-indicateurs {
    border-right: 1px solid #e9ecef;
}

.wizard-code {
    margin-top: 20px;
    display: none;
}

.wizard {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 30px;
    z-index: 50;
}

.wizard2 {
    position: fixed;
    float: right;
    right: 87px;
    bottom: 30px;
    z-index: 50;
}

.map-marker-circle-1 {
    background-color: #E91E63;
    border-radius: 18px;
    border: 4px solid #eaebf0;
    opacity: 0.50;
}

.map-marker-circle-2 {
    background-color: #eaebf0;
    border-radius: 18px;
    border: 4px solid #E91E63;
    opacity: 0.50;
}

.dataviz-container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.report-chart {
    width: 100%;
    height: 100%;
}

.report-flex-centered {
    /*display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 155px;*/
}
.full-width{
    width: 100%;
}
div[class*="list-group-item"]{
    padding-right: 0 !important;
    padding-left: 0 !important;
}
div[class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.view,
.lyrow{
    height: 100%;
}
.row{
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}
.view .row .col-md-12{
    height: 100%;
}
.dataviz-container:hover .report-share{
    display: block;
}
.no-data{
    text-align: center;
}
.report-chart-title,
.report-chart-summary{
    margin-right: 15px;
    margin-left: 15px;
}
.report-chart-title{
    margin-top: 15px;
    text-align: center;
}
.report-chart-summary{
    margin-bottom: 5px;
    text-align: justify;
}
.report-figure-chiffre {
    padding-top: 30px;

}
.editable-text{
    margin-bottom: 0 !important;
}

.model-b div.dataviz-container:empty {
    min-height: 100px;
    background-image: url(/static/picto/black/travaux.svg);
    background-repeat: no-repeat;
    background-size: 75px;
    background-position-x: center;
    background-position-y: center;
}

.model-b div.dataviz-container:empty:after {
    content: "En construction";
    text-align: center;
    padding-left: 180px;
}