.report {
    opacity:0;
}

.report-alert {
    display:none;
}

.report-chart, .report-figure {
    padding-top: 20px;
}

button.report-share {
    display: none;
}

button.report-share.btn.btn-outline-info {
    top: 45%;
    position: absolute;
    float: right;
    right: 45%
    z-index: 1000;
}

.report-chart:hover button.report-share,
.report-text:hover button.report-share,
.report-map:hover button.report-share,
.report-image:hover button.report-share,
.report-group:hover button.report-share,
.report-figure:hover button.report-share,
.report-table:hover button.report-share {
    display: block;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #ffffff url('../img/loader.svg') no-repeat center center;
}

.wizard-indicateurs {
    border-right: 1px solid #e9ecef;
}

.wizard-code {
    margin-top: 20px;
    display:none;
}

.wizard {
    position: fixed;
    bottom: 30px;
    float: right;
    right: 30px;
    z-index: 50;
}

.wizard2 {
    position: fixed;
	float: right;
    right: 87px;
    bottom: 30px;
	z-index: 50;
}

.map-marker-circle-1 {    
  background-color:#E91E63; 
  border-radius: 18px;
  border: 4px solid #eaebf0;
  opacity: 0.50;
}

.map-marker-circle-2 {    
  background-color:#eaebf0; 
  border-radius: 18px;
  border: 4px solid #E91E63;
  opacity: 0.50;
}

.dataviz-container{
    display: flex;
    height: 100%;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.report-chart{
    width: 80%;
    height: 100%;
}
.customBaseColumn{
    margin-bottom: 10px;
}
.card-body{
    flex-direction: column;
}
