.report {
    opacity:0;
}

.report-alert {
    display:none;
}

.report-chart, .report-figure {
    padding-top: 20px;
}

button.report-share {
    display: none;
}

button.report-share.btn.btn-outline-info {
    top: 30px;
    position: absolute;
    float:right;
    right: 20px;
}

.report-chart:hover button.report-share {
    display: block;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url('../img/ajax-loader.gif') no-repeat center center;
}


