.icon-femme { background-image: url(/static/picto/blue/femme.svg); }
.icon-homme { background-image: url(/static/picto/blue/homme.svg); }
.icon-icon-eco8 { background-image: url(/static/picto/blue/icon-eco8.svg); }
.icon-social_diplome { background-image: url(/static/picto/blue/social_diplome.svg); }
.icon-habitants { background-image: url(/static/picto/pink/habitants.svg); }
.icon-revenu { background-image: url(/static/picto/pink/revenu.svg); }
.icon-social_diplome { background-image: url(/static/picto/pink/social_diplome.svg); }