/* report.css */
.report-figure-chiffre {
    font-weight: bolder;
	background-repeat: no-repeat;
    color: #2dabad;
    padding-left: 60px;
    font-size: 50px;
}

#epci_nbre_lycee_public .report-figure-chiffre {
    background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/diplome.svg);
}

#epci_nbre_lycee_prive .report-figure-chiffre {
    background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/diplome_sup.svg);
}

#epci_surface_batie_lycee .report-figure-chiffre {
    background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/appartement.svg);
}

.dataviz {
    text-align: center;
	padding-top: 20px;
}

.dataviz span {
    font-weight: 600;
}