/* report.css */
.report-figure-chiffre {
    font-weight: bolder;
	background-repeat: no-repeat;
    color: #2dabad;
    padding-left: 60px;
    font-size: 50px;
}

.report-figure-chiffre {
    background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/diplome.svg);
}



.dataviz {
    text-align: center;
	padding-top: 20px;
}

.dataviz span {
    font-weight: 600;
}