.model-b {
            background-color: #f5f5f5;
        }

        .report-bloc.b4-6-2_2 {
            color: #6c757d;
        }

        .row.bloc-sources p {
            padding-left: 20px;
        }

        h4.bloc-title {
            font-weight: 700;
            padding-top: 15px;
            text-transform: uppercase;
            letter-spacing: 0.2px;
            color: #213042;
        }

        .sub-title-graph {
            font-size: 13px;
            margin-top: 15px;
        }

        .bloc-sources {
            font-size: 12px;
        }

        .report-figure-chiffre {
            padding-top: 50px;
            color: #3db39e;
            font-size: 40px;
            font-weight: 900;
            text-align: center;
            margin-top: 1em;
        }

        .report-figure-caption {
            color: #3db39e;
            font-size: 13px;
            font-weight: 600;
            line-height: 1;
            text-align: center;
        }

        .custom-icon {
            background-repeat: no-repeat;
            background-position: center;
            background-position-y: top;
            background-size: auto 75px;
        }


        .icon-default {
            background-image: url(http://kartenn.region-bretagne.fr/portail-idd/img/social_diplome.svg);
        }

        .icon-eco5 {
            background-image: url(http://kartenn.region-bretagne.fr/portail-idd/img/icon-eco5.svg);
        }

        .icon-eco8 {
            background-image: url(http://kartenn.region-bretagne.fr/portail-idd/img/icon-eco8.svg);
        }

        .icon-man {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/man.svg);
        }

        .icon-woman {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/woman.svg);
        }

        .icon-habitants {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/habitants.svg);
        }

        .icon-densite {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/densite.svg);
        }

        .icon-evolution_pop {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/evolution_pop.svg);
        }

        .icon-pop_suppl {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/pop_suppl.svg);
        }

        .icon-house {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/house.svg);
        }

        .icon-maison {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/maison.svg);
        }

        .icon-appartement {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/appartement.svg);
        }

        .icon-hlm {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/hlm.svg);
        }

        .icon-hlm_tx {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/hlm_tx.svg);
        }

        .icon-menage {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/menage.svg);
        }

        .icon-menage_mono {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/menage_mono.svg);
        }

        .icon-house_person {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/house_person.svg);
        }

        .icon-evolution_menage {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/evolution_menage.svg);
        }

        .icon-evolution_menage_sup {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/evolution_menage_sup.svg);
        }

        .icon-fammone {
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/social_fammone.svg);
        }

        .icon-revenu {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/revenu.svg);
        }

        .icon-defm {
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/eco_defm.svg);
        }

        .icon-young_man {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/young_man.svg);
        }

        .icon-revenuc {
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/social_revenu_uc.svg);
        }

        .icon-jeunesempl {
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/social_jeune_ssempl.svg);
        }

        .icon-sante_hopital {
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/icon-soc9.svg);
        }

        .icon-social_tx_pauvrete {
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/social_tx_pauvrete.svg);
        }

        .icon-social_revenu_uc {
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/social_revenu_uc.svg);
        }

        .icon-demande_emploi {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/demande_emploi.svg);
        }

        .icon-densite {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/densite.svg);
        }

        .icon-part {
            background-image: url(https://kartenn.region-bretagne.fr/ws/territoire/icons/part.svg);
        }
        .icon-social_apprentissage{
            background-image: url(https://kartenn.region-bretagne.fr/portail-idd/img/social_apprentissage.svg);
        }

        .icon-evolution2{
            background-image: url(https://kartenn.region-bretagne.fr/ws/transports/icons/evolution_2.svg);
        }
        
        .printButton{    
        width: 60px;
        height: 60px;
        position: fixed;
        right: 30px;
        bottom: 30px;
        background-color: #eee;
        color: #555;
        padding: 10px;
        border-radius: 35px;
        box-shadow: 0 0 5px #ccc;
        font-size: 24px;
        text-align: center;
    }

    .icon-print:before{
        margin: 0 auto;
    }

    .printButton:hover{
        background-color:#555;
        color:#eee;
    }

    @media print {
      @page {
        size: A4 portrait;  
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;               
        
      }
      .lyrow {
          page-break-inside: avoid;
      }
      canvas {
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
            height: auto!important;
            width: auto!important;
        }    
        
        .printButton{
            display: none !important;
        }
        
        .model-b {
            background-color: #ffffff;
        }
        
    }