/* report.css */

.report {
    background-color:#f5f5f5;
}
.report-figure-chiffre {
    font-weight: bolder;
}

figcaption {
    font-size: smaller;
}

#pop_sexe_femme .report-figure-chiffre {
    background-image: url(icons/woman.svg);
    background-repeat: no-repeat;
    color: #48355f;
    padding-left: 60px;
    font-size: 50px;
}

#pop_sexe_homme .report-figure-chiffre {
    background-image: url(icons/man.svg);
    background-repeat: no-repeat;
    color: #2dabad;
    padding-left: 60px;
    font-size: 50px;
}

#pop_sexe_femme .report-figure-caption {
    color: #48355f;
    font-size: smaller;
}
#pop_sexe_homme .report-figure-caption {
    color: #2dabad;
    font-size: smaller;
}

#d29  {   
    color: #3db39e;
    padding-top: 0;
}

#d29 .report-icon {
    background-image: url(icons/icon-soc10.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
   
}

#d29 .report-figure-chiffre {   
    font-size: 50px;
    margin-bottom: 0;
}

#d29 .report-figure-caption {    
    font-size: smaller;
    font-weight: bolder;
}