<!DOCTYPE html>
<html lang="fr">
<meta charset="utf-8">

<head>
    <title>MREPORT - beta1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="/static/js/extLibs/jquery.min.js"></script>
    <script src="/static/js/extLibs/popper.min.js"></script>
    <script src="/static/js/extLibs/bootstrap.min.js"></script>
    <script src="/static/js/extLibs/Chart.min.js"></script>
    <link href="/static/js/extLibs/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/js/extLibs/leaflet.css" />
    <script src="/static/js/extLibs/leaflet.js"></script>
    <link href="/static/css/admin.css" rel="stylesheet">
    <link href="/static/css/composer.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/fonts/04b_30/stylesheet.css">
    <script src="/static/js/extLibs/fuse.min.js"></script>
    <script src="/static/js/extLibs/Sortable.js"></script>
    <script src="/static/js/extLibs/accounting.min.js"></script>
    <script src="/static/js/extLibs/sweetalert2@9.js"></script>
    <script src="/static/js/extLibs/piklor.js"></script>
    <script src="/static/js/extLibs/indent.min.js"></script>
    <script src="/static/js/textConfiguration.js"></script>
    <script src="/static/js/composer.js"></script>
    <script src="/static/js/wizard.js"></script>
    <script src="/static/js/report.js"></script>
    <script src="/static/js/admin.js"></script>

</head>

<body>
    <!-- Navigation start -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MREPORT - beta1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" data-page="catalog">
                    <a class="nav-link">Catalogue</a>
                </li>
                <li class="nav-item" data-page="reports">
                    <a class="nav-link">Rapports</a>
                </li>
                <li class="nav-item" data-page="composer">
                    <a id="btn-composer" class="nav-link">Composeur</a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- Navigation end -->

    <!-- Catalog start -->
    <div class="container-fluid page active" id="catalog">
        <h1>Jeux de données</h1>
        <div id="filterbutton" class="row sticky-sm">
            <button class="btn d-md-none col-12" data-toggle="collapse" data-target="#stickycollapse">
                Outils<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
        </div>
        <div id="stickycollapse" class="collapse d-md-block sticky">
            <div id="sticky" class="row">
                <div class="col-md-3 col-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-report-state="new"
                        data-target="#report-modal-form">Créer un rapport à partir de la sélection</button>
                </div>
                <div class="col-md-3 col-12">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-report-state="add"
                        data-target="#report-modal-form2">Ajouter la sélection à un rapport existant</button>
                </div>
                <div class="col-md-2 col-12">
                    <input id="searchbar" class="form-control" placeholder="Filtrer le catalogue" maxlength="32">
                </div>

                <div class="col-md-2 col-12">
                    <div class="custom-control custom-checkbox pt-2">
                        <input type="checkbox" id="checkAll" class="custom-control-input" name="checkAll">
                        <label class="custom-control-label" for="checkAll">Tout sélectionner</label>
                    </div>
                </div>
                <div class="col-md-1 col-12">
                    <a class="green"><i class="fas fa-shopping-bag"></i> <span class="number">0</span></a>
                </div>
                <div class="col-md-1 col-12">
                    <button id="resetfilters" type="button" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Catalog start -->

    <!-- Reports start -->
    <div class="container-fluid page" id="reports">
        <h1>Rapports</h1>
    </div>
    <!-- Reports start -->

    <!-- Composer start -->
    <div class="container-fluid page" id="composer">
        <div class="builder edit">
            <div class="sidenav d-flex flex-column">
                <button type="button" id="btn_save_report"
                    class="btn btn-lg btn-block btn-primary sticky-top">Enregistrer</button>
                <form class="form" role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="selectedReportComposer">Rapport sélectionné</label>
                        <select class="form-control" id="selectedReportComposer">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectedModelComposer">Modèle sélectionné</label>
                        <select class="form-control" id="selectedModelComposer">
                            <option disabled value selected>Modèle</option>
                        </select>
                    </div>
                </form>
                <div class="rows list-group" id="structure-models">
                    <h6>Blocs structurants</h6>
                    <!-- appended by code -->
                </div>
                <div class="rows list-group" id="element-models">
                    <h6>Eléments</h6>
                    <!-- appended by code -->
                </div>
                <div class="list-group" id="dataviz-items">
                    <h6>Dataviz disponibles</h6>
                    <!-- appended by code -->
                </div>
            </div>

            <div class="main">
                <h2 id="composer-report-title">
                    <!-- appended by code -->
                </h2>

                <div class="composition">

                    <div id="report-composition">

                    </div>

                </div>


            </div>
        </div>
    </div>
    <!-- Composer end -->

    <!-- Modal dataviz -->
    <div class="modal fade" id="dataviz-modal-form" data-related-id="" tabindex="-1" role="dialog"
        aria-labelledby="datavizModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="datavizModalLabel"><span class="dataviz-title"></span></span><span
                            class="badge badge-success">New</span><span class="badge badge-warning">Edition</span><span
                            class="badge badge-danger">Supression</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" id="xviz"></div>
                    <form class="form" id="dataviz-form" role="form" autocomplete="off">
                        <div class="form-group row">
                            <div class="col">
                                <label for="inputTitle"><span class="badge badge-dark">Nom</span></label>
                                <input type="text" class="form-control" name="title" id="inputTitle"
                                    placeholder="Nom de la dataviz">
                            </div>
                            <div class="col">
                                <label for="inputYear"><span class="badge badge-dark">millésime</span></label>
                                <input type="text" class="form-control" name="year" id="inputYear"
                                    placeholder="Millésime" required="">
                            </div>
                            <div class="col">
                                <label for="inputSource"><span class="badge badge-dark">Source</span></label>
                                <input type="text" class="form-control" name="source" id="inputSource"
                                    placeholder="Source" required="">
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="inputDescription"><span class="badge badge-dark">Description</span></label>
                                <input type="text" class="form-control" name="description" id="inputDescription"
                                    placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control hidden" name="viz" id="visualization" required="">
                        </div>
                        <div class="form-group row">
                            <div class="col">
                                <label for="inputLevel"><span class="badge badge-dark">Niveau</span></label>
                                <input type="text" class="form-control" name="level" id="inputLevel"
                                    placeholder="Niveau" required="">
                            </div>
                            <div class="col">
                                <label for="inputType"><span class="badge badge-dark">Type</span></label>
                                <input type="text" class="form-control" name="type" id="inputType" placeholder="Type"
                                    required="">
                            </div>
                            <div class="col">
                                <label for="inputUnit"><span class="badge badge-dark">Unité</span></label>
                                <input type="text" class="form-control" name="unit" id="inputUnit" placeholder="Type"
                                    required="">
                            </div>
                            <div class="col">
                                <label for="inputJob"><span class="badge badge-dark">Job</span></label>
                                <input type="text" class="form-control" name="job" id="inputJob" placeholder="Type"
                                    required="">
                            </div>
                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button id="dataviz_configure" class="btn btn-dark" data-toggle="modal" data-target="#wizard-panel"
                        data-component="store" data-related-id=""><i class="fas fa-cog"></i> Configurer la
                        dataviz</button>
                    <button id="dataviz_confirmed" type="button" class="btn btn-primary">Enregistrer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Report-->
    <div class="modal fade" id="report-modal-form" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Rapport<span
                            class="badge badge-success">New</span><span class="badge badge-warning">Edition</span><span
                            class="badge badge-danger">Supression</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" id="report-form" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="reportInputTitre">Titre du rapport</label>
                            <input type="text" class="form-control" name="title" id="reportInputTitre"
                                placeholder="Titre" required="true">
                        </div>
                        <h5>Sources de données associées</h5>
                        <ul class="reports-dataviz list-group">
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="report_confirmed" type="button" class="btn btn-primary"
                        onclick="admin.addReport();">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Report 2-->
    <div class="modal fade" id="report-modal-form2" tabindex="-1" role="dialog" aria-labelledby="report2ModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="report2ModalLabel">Rapport
                        <span class="badge badge-success">Add</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form" id="toto3" role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="selectedReport">Rapport sélectionné</label>
                            <select class="form-control" id="selectedReport">
                            </select>
                        </div>
                        <h5>Sources de données associées</h5>
                        <ul class="reports-dataviz-exist list-group">
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" onclick="admin.createReport();">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal text-edit-->
    <div class="modal fade" id="text-edit" tabindex="-1" role="dialog" aria-labelledby="textEdit" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edition</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group input-group-sm mb-3 text-config">
                            <input id="text-edit-value" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="text-edit-level">Style</label>
                            <select class="form-control" id="text-edit-level" name="text-level">
                                <option value="titre-1">Titre 1</option>
                                <option value="titre-2">Titre 2</option>
                                <option value="titre-3">Titre 3</option>
                                <option value="titre-4">Titre 4</option>
                            </select>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="typeedit" id="typeedit-1" value="text"
                                checked>
                            <label class="form-check-label" for="typeedit-1">texte</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" disabled type="radio" name="typeedit" id="typeedit-2"
                                value="html">
                            <label class="form-check-label" for="typeedit-2">html</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="text-save btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart -->
    <div id="cd-cart">
        <a id="togglePanier" class="cd-img-replace"></a>
        <h2>Selection</h2>
        <ul class="cd-cart-items">

        </ul>
    </div>
    <!-- Structure dividing modal -->
    <div class="modal fade" id="divide_form" tabindex="-1" role="dialog" aria-labelledby="divideForm"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="divide_title">Division</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="separation_input">Séparation</label>
                            <select class="form-control" id="separation_input" name="separation_input">
                                <option value="0">Horizontale</option>
                                <option value="1">Verticale</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dimensions_division">Dimensions</label>
                            <select type="text" class="form-control orientation_changed" id="dimensions_division">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="form-group no-margin" id="columns-inputs">
                            <div class="row">
                                <div class="col-4 horizontal-column">
                                    <input type="text" class="form-control" value="6">
                                </div>
                                <div class="col-4 horizontal-column">
                                    <input type="text" class="form-control" value="6">
                                </div>

                            </div>
                            <small id="dimensions_help" class="form-text text-muted orientation_changed">Le total
                                doit être 12</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button id="divide_modal_btn" type="button" class="text-save btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>